* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    background-color: #cccccc;
}

#board div {
    width: 10px;
    height: 10px;
    border: 1px solid #cccccc;
    background-color: #ffffff;
    float: left;
}

#board div.live {
    background-color: #000000;
}
#board {
    margin: 50px auto 0;
    min-height: 100px;
    min-width: 100px
}
.game-set {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.game-set button {
    background-color: blue;
    border: none;
    color: white;
    font-family: "Comic Sans MS", sans-serif;
    width: 100px;
    height: 30px;
    margin: 10px;
    box-shadow: 2px 2px 2px 2px gray;
}
.game-set button:active {
    box-shadow: 1px 1px 1px 1px gray;
}